{{- if and .Values.rbac.create .Values.rbac.useClusterRole (not .Values.rbac.useExistingRole) }}
apiVersion: {{ template "rbac.apiVersion" . }}
kind: ClusterRole
metadata:
  name: {{ template "argocd-scripts.fullname" . }}
  labels:
    {{- include "argocd-scripts.labels" . | nindent 4 }}
rules:
  - apiGroups:
    - ''
    resources: ['*']
    verbs:
      - get
      - list
      - watch
  - apiGroups:
    - extensions
    resources: ['*']
    verbs:
      - get
      - list
      - watch
  - apiGroups:
    - apps
    resources: ['*']
    verbs:
      - get
      - list
      - watch
  - apiGroups:
    - batch
    resources: ['*']
    verbs:
      - get
      - list
      - watch
  - apiGroups:
    - rbac.authorization.k8s.io
    resources:
      - clusterroles
      - clusterrolebindings
      - roles
      - rolebindings
    verbs:
      - get
      - list
      - watch
{{ end }}